body {
    background-color:rgb(243, 223, 223);
    color:rgb(219, 169, 163);
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;

    margin: 0;
}

h1, #school-year {
    text-align: center;
}

h3 {
    text-decoration: underline;
}

a {
    color: #db7d7d;
    text-decoration: none;
}

a:hover { 
    color:rgb(228, 174, 172);
}

img { 
    width: 200px;
    display: block;

    margin-left: auto;
    margin-right: auto;

    border-radius: 50%;
    box-shadow: 0 3px 8px 0 rgba(138, 88, 88, 0.4), 0 6px 20px 0 rgba(63, 46, 46, 0.29);
}

.container {
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;

    gap: 10px;

    padding: 10px;
    box-sizing: border-box;
}

.container div {
    padding: 10px;
    border-style: dotted;
    border-width: 2px;
}

.content-big {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.content-small {
    grid-column-start: 4;
    grid-column-end: span 2;
    grid-row-end: span 1;
}
